@model CoffeeShop.Models.Product

@{
    ViewData["Title"] = Model.Name;
}

<div class="row">
    <div class="col-md-6">
        <img src="@Model.ImageUrl" class="img-fluid rounded" alt="@Model.Name" />
    </div>

    <div class="col-md-6">
        <h1>@Model.Name</h1>
        <p>@Model.Detail</p>
        <h3>@Model.Price.ToString("C")</h3>

        
        <a asp-controller="Products"
           asp-action="Shop"
           class="btn btn-secondary">
            Back to Shop
        </a>
        <a asp-controller="Cart"
   asp-action="AddToCart"
   asp-route-id="@Model.Id"
   class="btn btn-success">
    Add to Cart
        </a>
    </div>
</div>